.design-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.design-app p {
    font-size: 18px;
    font-weight: 600;
}

.buttons {
    margin-top: 48px;
}

.classic-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.classic-buttonBtn {
    font-size: 24px;
    padding: 24px 48px;
    border-radius: 50px;
    border: 1px solid #212121;
    cursor: pointer;
    font-weight: 500;
    background: rgba(0, 0, 0, .05);
    color: #212121;
    transition: all .3s;
}

.classic-buttonBtn:hover {
    background: #212121;
    color: white;
}

.copyBtn {
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
}

.copyBtn:hover {
    text-decoration: underline;
}