h1 {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

p {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    opacity: .8;
    font-weight: 500;
}

.all-app {
    margin-top: 124px;
}